<div id="main-content">
    <router-outlet></router-outlet>
</div>
<!-- looks like router outlet is broken, sessionStorage is not working, and the app is not loading the correct page.
Looks like there is an error with



⠙ Building...[Sun, 25 Feb 2024 19:44:31 GMT] : [callback-id] : @azure/msal-browser@2.32.1 : Info - PerformanceClient: No correlation id provided for acquireTokenSilent, generating
[Sun, 25 Feb 2024 19:44:31 GMT] : [callback-id] : @azure/msal-browser@2.32.1 : Info - PerformanceClient: No correlation id provided for acquireTokenSilent, generating
[Sun, 25 Feb 2024 19:44:31 GMT] : [callback-id] : @azure/msal-browser@2.32.1 : Info - PerformanceClient: No correlation id provided for acquireTokenSilent, generating
[Sun, 25 Feb 2024 19:44:31 GMT] : [callback-id] : @azure/msal-browser@2.32.1 : Info - PerformanceClient: No correlation id provided for acquireTokenSilent, generating
⠹ Building...[Sun, 25 Feb 2024 19:44:31 GMT] : [callback-id] : @azure/msal-browser@2.32.1 : Info - PerformanceClient: No correlation id provided for acquireTokenSilent, generating
[Sun, 25 Feb 2024 19:44:31 GMT] : [callback-id] : @azure/msal-browser@2.32.1 : Info - PerformanceClient: No correlation id provided for acquireTokenSilent, generating
[Sun, 25 Feb 2024 19:44:31 GMT] : [callback-id] : @azure/msal-browser@2.32.1 : Info - PerformanceClient: No correlation id provided for acquireTokenSilent, generating -->
